<h1>Create Comic</h1>

<h2 style="color:blue">@ViewData["MENSAJE"]</h2>

<form method="post">
    <label>Título</label>
    <input type="text" name="titulo" class="form-control"/><br/>
    <label>Imagen</label>
    <input type="text" name="imagen" class="form-control"/><br/>
    <label>Descripción</label>
    <input type="text" name="descripcion" class="form-control"/><br/>
    <button class="btn btn-info">
        Insertar
    </button>
</form>