@model Comic

<div>
    <dl>
        <dt>Id Comic</dt>
        <dd>@Model.IdComic</dd>
        <dt>Nombre: </dt>
        <dd>@Model.Titulo</dd>
        <dt>Descripción: </dt>
        <dd>@Model.Descripcion</dd>
    </dl>
    <img src="@Model.Imagen" style="width: 200px;  height: 230px"/>
</div>