@model Comic

<h1>Update Comic</h1>

<form method="post">
    <input type="hidden" name="idcomic"
            value="@Model.IdComic"/>
    <label>Título</label>
    <input type="text" name="titulo"
           value="@Model.Titulo" class="form-control"/><br/>
    <label>Imagen</label>
    <input type="text" name="imagen"
            value="@Model.Imagen" class="form-control"/><br/>
    <label>Descripción</label>
    <input type="text" name="descripcion" 
        value="@Model.Descripcion" class="form-control"/><br/>
    <button class="btn btn-outline-dark">
        Update
    </button>
</form>