@model List<Comic>

<h1 style="color:blue">Comics MySql RDS</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Título</th>
            <th>Imagen</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Comic comic in Model)
        {
            <tr>
                <td>@comic.Titulo</td>
                <td>
                    <img src="@comic.Imagen"
                        style="width: 80px; height: 110px"/>
                </td>
                <td>
                    <a asp-controller="Comics" asp-action="Detalles"
                        asp-route-id="@comic.IdComic" class="btn btn-warning">
                        Details
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>