@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Práctica Comics EC2</h1>
    <img src="~/images/venom_1.png" style="width:250px; height: 400px;" />
</div>
